<%= link to: webroot(@article.slug), class: "summary", "aria-label": @article.title do %>	<article class="row">		<div class="column column-25">			<figure class="image is-3by2">				<%= img_mark(  @article.photo, "lager", @article.title, "lazy") %>			</figure>		</div>		<div class="column">			<h3 class="title is-3"><%= @article.title %></h3>			<div class="subtitle is-6">				<i class="tti ic-user"></i>				<strong>					<%= @article.author.user.name %>				</strong>				<i class="tti ic-calendar"></i> <%=	time_translate(@article.inserted_at, "vi") %>			</div>			<div><%= @article.summary %></div>		</div>	</article><% end %>