<h1 class="title is-1">New Article</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.cms_article_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.cms_article_path(@conn, :index) %></span>
