<h1 class="title is-1">New Taxonomy</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.cms_taxonomy_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.cms_taxonomy_path(@conn, :index) %></span>
