<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Theta.vn | Admin</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header class="layout">
      <section class="container is-fullhd ">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a href="/" class="navbar-item-brand" >
              <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Theta Logo" />
        		</a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <%= render(ThetaWeb.MenuView, "menu.html", conn: @conn ) %>
            </div>
          </div>
        </nav>
      </section>
    </header>

    <main role="main" class="container is-fullhd">
      <div class="columns">
        <div class="column is-3 has-background-link-dark menu-left">
          <%= render(ThetaWeb.MenuView, "menu_left.html", conn: @conn ) %>
        </div>
        <div class="column is-9">
          <p class="has-text-success" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="has-text-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= @inner_content %>
        </div>
      </div>

    </main>

    <%= render(ThetaWeb.FooterView, "footer.html", conn: @conn ) %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
