<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title><%= @title %> | Theta.vn</title>
	<link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'/>
	<%= csrf_meta_tag() %>
</head>
<body>
<section class="hero is-fullheight">
	<!-- Hero head: will stick at the top -->
	<div class="hero-head">
		<header class="layout">
			<div class="container is-fullhd ">
				<nav class="navbar" role="navigation" aria-label="main navigation">
					<div class="navbar-brand">
						<a href="/" class="navbar-item-brand">
							<img src='<%= Routes.static_path(@conn, "/images/logo.svg") %>' alt="Theta Logo" />
						</a>
						<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						   data-target="navbarMenu">
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
					</div>
					<div id="navbarMenu" class="navbar-menu">
						<div class="navbar-end">
							<%= render(ThetaWeb.MenuView, "menu.html", conn: @conn ) %>
						</div>
					</div>
				</nav>
			</div>
		</header>
	</div>
	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-1">
				404: Không tìm thấy nội dung bạn cần truy cập!
			</h1>
			<h2 class="subtitle">
				Xin lỗi, không thể tìm được nội dung cho trang web này! Bạn có thể nhập nội dung tìm kiếm bên dưới để tìm nội dung.
			</h2>
			<div class="card">
				<div class="card-content">
					<div class="content">
						<script async src="https://cse.google.com/cse.js?cx=000634605700554394801:kzpflttpyeo"></script>
						<div class="gcse-search"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Hero footer: will stick at the bottom -->
	<div class="hero-foot">
		<%= render(ThetaWeb.FooterView, "footer.html", conn: @conn ) %>
	</div>
</section>
<script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
</body>
</html>
