.upload {
  border: 1px solid blue;
  nav {
    background: $color-primary;
    .button {
      background: none;
      display: block;
      color: white;
      border: none;
      padding: 1rem;
      font-size: 1.6rem;
      &:hover {
        color: $color-secondary;
      }
    }
  }
  .dir {
    &:hover {
      cursor: pointer;
    }
  }
  //form {
  //  background: white;
  //  border-radius: 1rem;
  //  padding: 1rem;
  //}
}
