<div class="container mx-auto ">	<%= render(ThetaWeb.Component.SearchView, "search_box.html") %>	<hr/>	<script async src="https://cse.google.com/cse.js?cx=000634605700554394801:kzpflttpyeo"></script>	<div class="gcse-searchresults-only"></div></div>