<section class="section"><div class="container is-fullhd ">	<div class="card">		<div class="card-content">			<div class="content">				<%= render(ThetaWeb.Component.SearchView, "search_box.html") %>			</div>		</div>	</div>	<hr/>	<script async src="https://cse.google.com/cse.js?cx=000634605700554394801:kzpflttpyeo"></script>	<div class="gcse-searchresults-only"></div></div></section>