<h1>Show Path alias</h1>

<ul>
  <li>
    <strong>Slug:</strong>
    <%= @path.path %>
  </li>
  <li>
    <strong>Type model:</strong>
    <%= @path.count %>
  </li>
  <li>
    <strong>Type model:</strong>
    <%= @path.redirect %>
  </li>
</ul>

