<%= form_for :search, Routes.page_path(ThetaWeb.Endpoint, :google_search), [method: "get"], fn f -> %><div class="flex my-2">	<div class="control flex-grow">		<input class="focus:outline-none focus:ring-1 focus:ring-inset rounded-l" id="search_key" name="q" placeholder="Từ khoá" type="text" aria-label="Từ khoá">	</div>		<button class="flex-none bg-black rounded-r text-white uppercase px-4">			Tìm		</button></div><% end %>