<%= form_for :search, Routes.page_path(ThetaWeb.Endpoint, :google_search), [method: "get"], fn f -> %><div class="field has-addons">	<div class="control is-expanded">		<input class="input" id="search_key" name="q" placeholder="Từ khoá" type="text" aria-label="Từ khoá">	</div>	<div class="control">		<button class="button is-link">			Tìm		</button>	</div></div><% end %>