/* Article */
article.article {
  .hero .hero-body {
    padding: 3rem 0rem;
  }
}
.summary {
  display: block;
  padding: 1rem 0;

  + .summary {
    border-top: 1px solid $color-boder;
  }

  color: $text;

  &:hover article {

    background: rgba($primary, .3);
    color: black;
  }
}
