footer.layout {
  color: white;
  text-align: center;
  .menu-footer {
    background-color: black;
    padding: 1rem 1rem;
    margin: 1rem 0;

    text-align: center;

    a {
      color: white;
      &.link-footer {
        margin-bottom: 1rem;
        display: block;
      }
    }

    .policy {
      text-transform: uppercase;
    }
  }

  .copyright {
    text-align: center;
    padding: 1rem 0;
    color: black;
  }
}